* {
  font-family: roboto, sans-serif;
  margin: 0;
}

header {
  color: #f9faf8;
  background: #1f2937;
  padding-bottom: 75px;
}

a {
  color: inherit;
}

button:hover {
  cursor: pointer;
}

/* //////////////// NAV BAR ///////////////// */

.navbar {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 32px;
  margin: auto;
}

.logo {
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  align-items: center;
}

.header-links {
  display: flex;
  gap: 2rem;
  list-style-type: none;
  font-size: 18px;
  font-weight: 300;
  color: #e5e7eb;
}

.header-links a {
  text-decoration: none;
}

.header-links a:hover {
  color: rgb(77, 115, 205);
  font-weight: 400;
}

/* //////////// HERO ////////////// */

.hero {
  display: flex;
  gap: 3rem;
  width: 60%;
  margin: 75px auto 75px auto;
}

.hero > * {
  flex: 1;
}

.hero-text {
  margin: 16px 16px 16px 0px;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 900;
}

.hero-text p {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: 300;
  margin-bottom: 8px;
}

.hero-text button {
  background: rgb(77, 115, 205);
  color: #f9faf8;
  font-weight: 400;
  font-size: 18px;
  border: none;
  padding: 8px 32px;
  border-radius: 10px;
}

.hero .placeholder {
  background: gray;
  color: #f9faf8;
  font-size: 16px;
  text-align: center;
  align-content: center;
  margin: 10px 0px 10px 10px;
}

/* ///////////// INFORMATION CARDS ////////////////// */

.info {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
  margin: 50px;
}

.info-cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 100px;
}

.info-cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  max-width: 175px;
}

.info-cards .box {
  justify-content: center;
  border: 3px solid rgb(77, 115, 205);
  border-radius: 10px;
  padding: 50px;
  width: 50px;
  height: 50px;
}

.info-cards .text {
  text-align: center;
}

/* ////////////////////// TESTIMONIAL ////////////////////// */

.testimonial {
  background: #e5e7eb;
  color: #1f2937;
  padding: 100px;
  display: block;
}

.testimonial .quote {
  font-style: italic;
  font-weight: 300;
  font-size: 36px;
  width: 60%;
  margin: auto;
}

.testimonial .sign {
  font-size: 24px;
  font-weight: 700;
  width: 50%;
  padding: 12px;
  margin: auto;
  text-align: end;
}

/* /////////////////// CALL TO ACTION /////////////////// */

.sign-up {
  display: flex;
  background-color: rgb(77, 115, 205);
  border-radius: 10px;
  margin: 75px auto 75px auto;
  width: 65%;
  padding: 40px;
  justify-content: space-around;
  align-items: center;
}

.sign-up button {
  background: rgb(77, 115, 205);
  color: #f9faf8;
  font-weight: 600;
  font-size: 18px;
  border: 2px solid #f9faf8;
  border-radius: 10px;
  padding: 5px 32px;
  margin: 12px;
}

/* //////////// FOOTER /////////// */

footer {
  background-color: #1f2937;
  text-align: center;
  color: #f9faf8;
  padding: 42px;
}
